*{
  padding: 0;
  margin: 0;
}

.grid-style{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 1rem 8rem;
  list-style: none;
}

.grid-style li{
  padding: 1rem;
}

.img{
  width: 100%;
  height: 100%;
}